<div class="homeimage">
  <img src="http://i.huffpost.com/gen/1463650/thumbs/o-HAPPINESS-SUCCESS-facebook.jpg"/>
</div>
 
<div class="jumbotron">
  <h1>Thank you for signing up for Safe.Me!</h1>
  <h2>Stay safe and be there for your friends.</h2>
 
</div>